Repository adempiere/adempiere, pull requests merged in 2018-11, with the labels that each got.

#2106 #1805 Fixed left/right padding when text is not mandatory and is empty
  base/src/org/compiere/util/PaymentExportList.java
Labels: (AP) Account Payable, 02 bug, 10 Reviewed by Peer

#2131 #2130 Enhanced validation for active employee
  org.eevolution.hr_and_payroll/src/main/java/base/org/eevolution/model/MHREmployee.java
Labels: (HRM) Human Resource and Payroll Management, 01 enhancement, 10 Reviewed by Peer

#2121 #2120 Add custom name for export file from payment print form
  base/src/org/compiere/util/PaymentExportList.java
  zkwebui/WEB-INF/src/org/adempiere/webui/apps/form/WPayPrint.java
Labels: (AP) Account Payable, 01 enhancement, 10 Reviewed by Peer

#2138 #2137, improve report export functionality, reference to issue:
  base/src/org/spin/util/AbstractExportFormat.java
  base/src/org/spin/util/ReportExportHandler.java
  client/src/org/compiere/print/Viewer.java
  zkwebui/WEB-INF/src/org/adempiere/webui/window/ZkReportViewer.java
Labels: (PF) Report Engine & Print Format, 01 enhancement

#2115 #2114 Problem with bank transfer process
  base/src/org/eevolution/process/BankTransfer.java
  base/src/org/eevolution/process/BankTransferAbstract.java
Labels: (AP) Account Payable, 02 bug, 09 Pending Peer Review

#2067 #1722 Enhancement Payroll Send Mail when trying to send the document payroll payment voucher
  migration/390lts-391/04380_1722_SendPayrollReceiptByEmail.xml
  migration/390lts-391/04400_1722_AddMenuSendPayrollReceiptByEmail.xml
  org.eevolution.hr_and_payroll/src/main/java/base/org/eevolution/process/SendPayrollReceiptByEmail.java
  org.eevolution.hr_and_payroll/src/main/java/base/org/eevolution/process/SendPayrollReceiptByEmailAbstract.java
Labels: (HRM) Human Resource and Payroll Management, 01 enhancement

#2129 #2124 Enhancement SB for Payroll Create Invoice Business Partner
  migration/390lts-391/04390_2124_EnhancementSBforPayrollCreateInvoice.xml
  org.eevolution.hr_and_payroll/src/main/java/base/org/eevolution/process/HRGenerateInvoiceFromProcess.java
  org.eevolution.hr_and_payroll/src/main/java/base/org/eevolution/process/HRGenerateInvoiceFromProcessAbstract.java
  org.eevolution.hr_and_payroll/src/main/java/base/org/eevolution/process/HR_CreateInvoiceBPartnerAbstract.java
Labels: (HRM) Human Resource and Payroll Management, 01 enhancement, 10 Reviewed by Peer, 14 Waiting for User Changes
