Repository adempiere/adempiere, pull requests merged in 2019-11, with the labels that each got.

#2886 #2885 Bug when try import payroll movement with null concept value ht…
  org.eevolution.hr_and_payroll/src/main/java/base/org/eevolution/model/MHRMovement.java
  org.eevolution.hr_and_payroll/src/main/java/base/org/eevolution/process/ImportPayrollMovements.java
Labels: 02 bug

#2892 Add consolidate document flag for smart browser "Generate Invoice from
  migration/392lts-393lts/05510_Add_Consolidate_Document_Flag.xml
  org.eevolution.warehouse/src/main/java/base/org/spin/process/GenerateInvoiceInOutBound.java
  org.eevolution.warehouse/src/main/java/base/org/spin/process/GenerateInvoiceInOutBoundAbstract.java
Labels: (SO) Sales Management, (WMS) Warehouse Management System, 01 enhancement, 09 Pending Peer Review

#2891 Add reverse receipt from receipt express
  org.eevolution.warehouse/src/main/java/base/org/eevolution/model/MWMInOutBound.java
Labels: (WMS) Warehouse Management System, 01 enhancement

#2890 Fixed error with know error
  org.eevolution.hr_and_payroll/src/main/java/base/org/eevolution/model/MHRMovement.java
Labels: (HRM) Human Resource and Payroll Management, 02 bug

#2882 Add custom handler for packin
  base/src/org/adempiere/pipo/PackInHandler.java
  base/src/org/adempiere/pipo/PackOut.java
  base/src/org/adempiere/pipo/handler/GenericPOHandler.java
  base/src/org/adempiere/pipo/handler/MenuElementHandler.java
  base/src/org/adempiere/pipo/handler/ModelValidatorElementHandler.java
  base/src/org/adempiere/pipo/handler/PackinCustomHandler.java
Labels: (PIO) Packin / Packout, 01 enhancement

#2879 Add support to return order from PO and SO
  base/src/org/compiere/model/I_C_Order.java
  base/src/org/compiere/model/I_C_OrderLine.java
  base/src/org/compiere/model/MInOut.java
  base/src/org/compiere/model/MInOutLine.java
  base/src/org/compiere/model/MInvoice.java
  base/src/org/compiere/model/MMatchPO.java
  base/src/org/compiere/model/MOrder.java
  base/src/org/compiere/model/MOrderLine.java
  base/src/org/compiere/model/X_C_Order.java
  base/src/org/compiere/model/X_C_OrderLine.java
  base/src/org/spin/process/CreateOrderFromReturnOrder.java
  base/src/org/spin/process/CreateOrderFromReturnOrderAbstract.java
  base/src/org/spin/process/InOutRMACreateFrom.java
  base/src/org/spin/process/InOutRMACreateFromAbstract.java
  base/src/org/spin/process/OrderRMACreateFrom.java
  base/src/org/spin/process/OrderRMACreateFromAbstract.java
  db/ddlutils/oracle/views/RV_InOutRMA_CreateFrom.sql
  db/ddlutils/oracle/views/RV_OrderRMA_CreateFrom.sql
  db/ddlutils/oracle/views/RV_OrderRMA_CreateOrder.sql
  db/ddlutils/postgresql/views/RV_InOutRMA_CreateFrom.sql
  db/ddlutils/postgresql/views/RV_OrderRMA_CreateFrom.sql
  db/ddlutils/postgresql/views/RV_OrderRMA_CreateOrder.sql
  migration/392lts-393lts/05510_Add_Support_to_Return_Order.xml
Labels: (RMA) Return Material Authorization, 01 enhancement

#2883 Add transaction name for business partner on beforeSave method
  base/src/org/compiere/model/MBPGroup.java
  base/src/org/compiere/model/MBPartner.java
Labels: (SC) System Core, 02 bug

#2877 adempiere #2876 Duplicate BankstatementLine for Pos Payments
  base/src/org/compiere/model/MPayment.java
Labels: (AR) Account Receivable, (POS) Point Of Sales, 02 bug

#2831 Fixed error with process parameters for process builder
  base/src/org/compiere/model/MPInstance.java
  base/src/org/compiere/model/MPInstancePara.java
  base/src/org/eevolution/service/dsl/ProcessBuilder.java
Labels: (AD) Application Dictionary, 02 bug

#2899 Update the IntelliJ libraries
  adempiere.iml
Labels: 01 enhancement
