Repository adempiere/adempiere, pull requests merged in 2020-05, with the labels that each got.

#3118 Fixed error with language for ASP
  base/src/org/compiere/model/MProcess.java
  base/src/org/compiere/model/MTab.java
  base/src/org/compiere/model/MWindow.java
  base/src/org/spin/util/ASPUtil.java
Labels: (UI) User Interface Improvement, 02 bug

#3110 Fixed error with Window cache for ZK UI
  zkwebui/WEB-INF/src/org/adempiere/webui/apps/AEnv.java
Labels: (UI) User Interface Improvement, 02 bug

#3107 Add support to calculate payroll process for all organization
  base/src/org/eevolution/model/I_HR_Process.java
  base/src/org/eevolution/model/X_HR_Process.java
  migration/393lts-394lts/05800_Add_Search_Criteria_for_Employee_from_HR_Process.xml
  org.eevolution.hr_and_payroll/src/main/java/base/org/eevolution/model/MHREmployee.java
Labels: (HRM) Human Resource and Payroll Management, 01 enhancement

#3108 Fixed error with delivery closed generated from outbound order
  org.eevolution.warehouse/src/main/java/base/org/eevolution/model/MWMInOutBound.java
Labels: (WMS) Warehouse Management System, 02 bug

#3092 Add support to Optional Export Format for Table and Documents of
  base/src/org/adempiere/model/ExportModelValidator.java
  base/src/org/adempiere/process/rpl/exp/ExportHelper.java
  base/src/org/compiere/model/I_AD_ReplicationDocument.java
  base/src/org/compiere/model/I_AD_ReplicationTable.java
  base/src/org/compiere/model/MReplicationStrategy.java
  base/src/org/compiere/model/X_AD_ReplicationDocument.java
  base/src/org/compiere/model/X_AD_ReplicationTable.java
  migration/393lts-394lts/05790_Add_Optional_Export_Format_for_Table_and_Document.xml
Labels: 01 enhancement

#3115 Remove saveError and throw exception
  base/src/org/compiere/model/PO.java
Labels: (SC) System Core, 02 bug

#3081 Add changes for Valuation report
  base/src/org/eevolution/process/ValuationEffectiveDate.java
  base/src/org/eevolution/process/ValuationEffectiveDateAbstract.java
  migration/393lts-394lts/05670_Add_Last_Price_PO_For_Valuation_Report.xml
Labels: (PF) Report Engine & Print Format, 01 enhancement

#3097 Fixed error with transaction without commit or rollback
  base/src/org/compiere/wf/MWorkflow.java
  base/src/org/spin/util/test/WFTestCase.java
Labels: (BPM) Workflow Engine, 02 bug

#3111 de_DE translation update for Menu and Window
  data/de_DE/AD_Menu_Trl_de_DE.xml
  data/de_DE/AD_Window_Trl_de_DE.xml
Labels: (TRL) Translation

#3100 #2266 : Enlarge length for bank name
  migration/393lts-394lts/05810_2266_Enlarge_length_for_bank_name.xml
Labels: (BM) Bank Management, 01 enhancement, 10 Reviewed by Peer, 14 Waiting for User Changes

#3117 Creating a payment for multiple invoices with the same business partner does not work (AP) Account Payable 02 bug #3116
  base/src/org/compiere/model/MPaySelectionCheck.java
  base/src/org/eevolution/process/GenerateInvoiceFromPayment.java
  base/src/org/eevolution/process/GenerateInvoiceFromPaymentAbstract.java
  migration/393lts-394lts/05700_3046_ProcessToCreateInvoiceFromPaymentOnline.xml
  migration/393lts-394lts/05701_3046_ProcessToCreateInvoiceFromPaymentAddProduct.xml
Labels: (AP) Account Payable, 01 enhancement
